@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./_utilities";

body {
  background: url(../../public/assets/Bck_LOGIN_UNICA_OK_Desk.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 750px) {
  body {
    background-color: #ffffff;
  }
}
