.dashboard {
  height: 100vh;
  display: flex;
  width: 100vw;
}

.leftWrapper {
  width: 23%;
  height: 100%;
  border-radius: 0 110px 0 0;
  background: rgb(69, 116, 142);
  background: linear-gradient(
    310deg,
    rgba(69, 116, 142, 1) 0%,
    rgba(38, 85, 117, 1) 0%,
    rgba(13, 59, 96, 1) 32%,
    rgba(25, 61, 92, 1) 93%
  );
}

.title {
  color: #ffffff;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 1.4rem;
  line-height: -100px;
}

.titleAU {
  font-weight: 700;
}

.sxCommWrapper {
  width: 55%;
  margin-top: 10%;
  margin-left: 10%;
}
.sxWrapperBtn {
  margin-bottom: 20px;
  position: relative;
}

.sxCommBtn {
  width: 120%;
  font-weight: bold;
}
.sxCommBtn:hover {
  background-color: #88c560;
  color: #ffffff;
}

.sxCommInput {
  background-color: rgba(156, 156, 156, 0.47);
  width: 120%;
  color: #ffffff;

  padding: 10px 5px 10px 40px;
}

.sxCommInput:focus {
  background-color: rgba(156, 156, 156, 0.47);
}

.ticketWrapper {
  height: 85vh;
  width: 78%;
  background-color: #ffffff;
  position: fixed;
  margin-top: 120px;
  bottom: 0;
  right: 0;
  border-radius: 40px 0 0 0;
}
.headerTicketWrapper {
  width: 92%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  padding-top: 24px;
  padding-left: 40px;
  justify-content: space-between;
  border-bottom: 3px solid #88c560;
}

.listTicket::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.listTicket::-webkit-scrollbar-thumb {
  background: #65b230;
  border-radius: 10px;
}
